/*mobile first design*/

.apply-button {
  /*position is fixed in the page, 66px above the bottom of the page*/
  position: fixed;
  bottom: 66px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5rem;
  padding: 8px 16px;
  font-size: 1rem;
}

.apply-button:hover {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
