/* container card of events */
.itemContainer {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 15px;
  max-width: 85vw;
  max-height: 30vh;
}
.itemContainer:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* container card of stadiums */
.itemContainer2 {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 15px;
  max-width: 85vw;
  max-height: 30vh;
}
.itemContainer2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/* container card of cinemas */
.itemContainer3 {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 15px;
  max-width: 85vw;
  max-height: 30vh;
}
.itemContainer3:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/* reduce h3 size */
.descriptionContainer h3 {
  font-size: 1rem;
}

/* set p display to have 3 lines maximum*/
.descriptionContainer p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.imgCard {
  border-radius: 5px 0 0 5px;
}

/* Container of image's card */
.imageContainer {
  display: flex;
  flex-direction: column;
  max-width: 40vw;
  max-height: 20vh;
  position: relative;
  top: 20px;
}
/* Container of description from card */
.descriptionContainer {
  width: 90%;
  height: 130px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* styling tag of card */
.tagCard {
  background-color: black;
  width: fit-content;
  color: white;
  border-radius: 5px;
  text-align: center;
}

/* responsive for device higher to 575px */
@media (min-width: 575px) {
  /*center imagConter at center */

  /* card of events */
  .itemContainer {
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* card of stadiums */
  .itemContainer2 {
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* Card of cinemas */
  .itemContainer3 {
    width: 30vw;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* buttton En savoir plus */
  .knowMore {
    position: relative;
    top: -10px;
    left: 120px;
    width: 100px;
  }

  .tagCard {
    background-color: black;
    width: fit-content;
    color: white;
    border-radius: 5px;
    text-align: center;
  }

  .descriptionContainer p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .descriptionContainer {
    width: 90%;
    height: 60%;
  }
}
