.namePopup {
  text-align: center;
  font-size: 1rem;
}

.shortDescPopup {
  text-align: center;
  font-size: 0.8rem;
}

.schedulesPopup {
  font-weight: bold;
  font-size: 0.95rem;
}

.longDescPopup {
  font-size: 0.9rem;
}

.annexPopup {
  font-size: 0.9rem;
  font-weight: bold;
}

.tagPopup {
  padding: 0.3rem;
  border-radius: 5rem;
  background-color: #151d48;
}
