.namePopup {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.shortDescPopup {
  text-align: center;
  font-size: 0.8rem;
}

.schedulesPopup {
  font-weight: bold;
  font-size: 0.95rem;
  text-align: center;
}

.longDescPopup {
  font-size: 0.9rem;
  text-align: center;
}

.annexPopup {
  font-size: 0.9rem;
  font-weight: bold;
}

.popup {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tagsPopup {
  gap: 8px;
  margin: 4px auto;
}

.leaflet-popup-content p {
  margin: 8px auto;
}

@media (min-width: 768px) {
  .namePopup {
    font-size: 1.4rem;
  }
  .shortDescPopup {
    font-size: 1rem;
  }
  .schedulesPopup {
    font-size: 1rem;
  }
  .longDescPopup {
    font-size: 1rem;
  }
  .annexPopup {
    font-size: 1rem;
  }
}
