.filtersMenu {
  border: 1px solid black;
  width: 90vw;
  border-radius: 10px;
  position: sticky;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  margin-top: 8px;
  z-index: 2;
}

.crossContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.closingCross {
  width: 24px;
  height: 24px;
  margin: 8px;
}

.filtersMenu h3 {
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 16px;
}

hr {
  width: 85%;
  margin-top: 8px;
  margin-bottom: 8px;
}
