/*Footer styling*/

footer {
  height: 32px;
  background: #151d48;
  color: white;

  /*footer is sticky to the bottom of the page*/
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

footer p {
  margin-left: 20px;
  font-size: 0.8rem;
}
footer button {
  margin-right: 20px;
}

/*footer link animation*/

.about-us {
  color: white;
  position: relative;
  text-decoration: none;
  font-size: 0.8rem;
}

.about-us:hover {
  cursor: pointer;
}

.about-us::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.about-us:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* content of modal */
.modalContent {
  position: relative;
  text-align: justify;
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  z-index: 1000;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}
.modalContent h2
{
  text-align: center;
}

.modalContent a
{
  text-decoration: none;
  color: #151d48;
}
/*media queries for screen over 768px*/
@media screen and (min-width: 768px) {
  footer {
    height: 40px;
  }

  footer p {
    margin-left: 32px;
    font-size: 1rem;
  }

  footer button {
    margin-right: 32px;
  }

  .about-us {
    font-size: 1rem;
  }
}
