.placeEventsButton {
  width: 8rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  padding: 8px;
}

.placeEventsButton:hover {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transform: translateY(1px);
}

.placeEventsButtonClicked {
  background: #151d48;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  color: white;
}
