/* Component PrimaryCheckboxButtons styling  */

.primaryCheckboxButtons {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  margin: 24px auto;
}

.primaryCheckboxButtons img {
  height: 60%;
  width: auto;
  margin-top: 15px;
}

.primaryCheckboxButtons p {
  margin: 5px;
  padding-bottom: 10px;
}

.primaryButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 75px;
}

.primaryButton:hover {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transform: translateY(2px);
}

.primaryButton p {
  font-size: 1.2rem;
}

.mainButtonClicked {
  background: #151d48;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  color: white;
}

/* Mobile phone media queries */
@media screen and (max-width: 770px) {
  .primaryCheckboxButtons {
    margin-top: 16px auto;
  }

  .primaryButton {
    height: 70px;
    width: 70px;
  }

  .primaryButton p {
    font-size: 0.8rem;
  }
}
