/* Component PrimaryCheckboxButtons styling  */

.primaryCheckboxButtons.hidden {
  display: none;
}

.primaryCheckboxButtons {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  margin: 16px auto;
}

.primaryCheckboxButtons img {
  height: 45%;
  width: auto;
  margin-top: 16px;
}

.primaryCheckboxButtons p {
  margin: 5px;
  padding-bottom: 8px;
}

.primaryButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 75px;
}

.primaryButton:hover {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transform: translateY(1px);
}

.primaryButton p {
  font-size: 0.8rem;
}

.mainButtonClicked {
  background: #151d48;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  color: white;
}

/* Desktop media queries */
@media screen and (min-width: 770px) {
  .primaryCheckboxButtons.hidden {
    display: initial;
  }

  .primaryCheckboxButtons {
    margin: 24 px auto;
  }

  .primaryCheckboxButtons img {
    height: 55%;
    width: auto;
    margin-top: 16px;
  }
  .primaryButton {
    height: 90px;
    width: 90px;
  }

  .primaryButton p {
    font-size: 0.9rem;
  }
}
