.tagButton {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5rem;
  padding: 8px 8px;
  margin: 8px 8px;
}

.tagButton:hover {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transform: translateY(1px);
}

.selectedTag {
  background: #151d48;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  color: white;
}
