.tagButton {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5rem;
  padding: 4px 8px;
  margin: 8px 8px;
  font-size: 0.75rem;
}

.tagButton:hover {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transform: translateY(1px);
}

.selectedTag {
  background: #151d48;
  box-shadow: none;
  font-weight: semi-bold;
  transition: all 0.3s ease-in-out;
  color: white;
}

/*media queries for screen over 768px*/
@media screen and (min-width: 768px) {
  .tagButton {
    font-size: 1rem;
  }
}
