:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.itemContainer {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 15px;
  padding: 1em;
  width: 85vh;
}
.itemContainer:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.itemContainer2 {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 15px;
  padding: 1em;
  width: 85vh;
}
.itemContainer2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.itemContainer3 {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 15px;
  padding: 1em;
  width: 85vh;
}
.itemContainer3:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  width: 20vh;
  height: 100px;
}

/* styling all buttons  */
button {
  padding: 0;
  border: none;
  background: none;
}

/* header section styling  */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Component PrimaryCheckboxButtons styling  */

.primaryCheckboxButtons {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  gap: 10vw;
}

.primaryCheckboxButtons img {
  height: 60%;
  width: auto;
  margin-top: 15px;
}

.primaryCheckboxButtons p {
  margin: 5px;
  padding-bottom: 10px;
}

.primaryButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 75px;
}

.primaryButton:hover {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transform: translateY(2px);
}

.primaryButton p {
  font-size: 1.2rem;
}

.mainButtonClicked {
  background: #151d48;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  color: white;
}

/* Mobile phone media queries */
@media screen and (max-width: 770px) {
  .primaryButton {
    height: 70px;
    width: 70px;
  }

  .primaryButton p {
    font-size: 0.8rem;
  }
}
