/*import google font families*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  /* declare a main-color variable for the blue color*/
  --main-color: #151d48;
  /* declare a secondary-color variable for the filter grey color*/
  --secondary-color: #8d8c8c;
}

/*NavBar style definition*/

/* define style for nav ul*/
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--main-color);
  color: white;
  margin: 0;
  height: 10vh;
}

/*display logo and websitetitle in flex row*/
nav ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

/*define right margin for the second li*/
nav ul li:nth-child(2) {
  margin-right: 1rem;
}

/*define the size of the logo img*/
nav ul li img {
  width: 4rem;
}

/*define the style for the website title*/
nav ul li h1 {
  /*define common font-family for a website title*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
}

/*define the style for the nav button*/
nav ul li button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;

  /* main appearance */
  width: fit-content;
  height: 6vh;
  background: rgba(249, 249, 249, 0.9);
  border-radius: 50px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/*define the style for the nav button when hover*/
nav ul li button:hover {
  background-color: rgba(249, 249, 249, 0.8);
  cursor: pointer;
}

/*set nav ul li button main categorie style*/
nav ul li button p:first-child {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: black;
}

/*set nav ul li button for all p except first and second style*/
nav ul li button p:not(:first-child) {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--secondary-color);
}

/*responsive design */
/*responsive style for nav ul, ul adapt their sizes to remain on the same row*/

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }

  nav ul li:nth-child(2) {
    margin-right: 0;
  }

  nav ul li button {
    margin-top: 1rem;
    width: fit-content;
    height: fit-content;
  }
  /*responsive reduces the size of the logo*/
  nav ul li img {
    width: 3rem;
  }

  /*responsive reduces the size of the website title*/
  nav ul li h1 {
    font-size: 1.8rem;
  }

  /*remove margin et padding for every elements inside nav button*/
  nav ul li button * {
    margin: 0;
    padding: 0;
  }
  /*reduce the fonts of the nav button*/
  nav ul li button p:first-child {
    font-size: 1.2rem;
  }
  nav ul li button p:not(:first-child) {
    font-size: 1rem;
  }
}
