/*import poppins font from google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  /* declare a main-color variable for the blue color*/
  --main-color: #151d48;
  /* declare a secondary-color variable for the filter grey color*/
  --secondary-color: #8d8c8c;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins, sans-serif;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* styling all buttons  */
button {
  padding: 0;
  border: none;
  background: none;
}

/* header section styling  */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* List Container styling */
.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hidden {
  display: none;
}

/* sorting button and map buttons div styling  */
.sorting-map-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto 16px;
  width: 90%;
}

/* Map toggler styling */

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
  margin: 10px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5rem;
  transition: 0.4s;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 1px;
  background-image: url("assets/List_chosen.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(32px);
  background-image: url("assets/Map_chosen.png");
}

.slider:after {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  right: 3px;
  bottom: 1px;
  background-image: url("assets/Map.png");
  background-repeat: no-repeat;
  background-size: 80%;
  /*background image is centered*/
  background-position: center;
  /* border-radius: 50%; */
  transition: 0.4s;
}

input:checked + .slider:after {
  transform: translateX(-32px);
  background-image: url("assets/List.png");
}

.sorting-map-buttons.hidden {
  display: none;
}

.sorting-map-buttons.mapActive {
  justify-content: flex-end;
}

/*media queries over 768 px*/
@media screen and (min-width: 768px) {
  .sorting-map-buttons {
    margin: auto 15vw;
  }

  .toggle {
    width: 70px;
    height: 30px;
  }

  .slider:before {
    height: 28px;
    width: 28px;
    left: 3px;
    bottom: 1px;
  }

  .slider:after {
    height: 28px;
    width: 28px;
    right: 3px;
    bottom: 1px;
  }

  input:checked + .slider:before {
    transform: translateX(37px);
  }
  input:checked + .slider:after {
    transform: translateX(-37px);
  }
}
